*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("../images/hatter.png") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 30px;
    text-align: center;
    color: #fff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header h1{
    padding-top: 300px;
    padding-bottom: 0;
    font-size: 65px;
}
header p{
    font-size: 30px;
    margin: 18px 0;
}
.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}
#sec2{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("../images/terv.png") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#sec2_div{
    padding-top: 60px;
    padding-bottom: 0;
}
#sec2_div h1, #sec3_div h1{
    text-align: center;
    color: #fff;
    font-size: 66px;
}
.table{
    background: rgba(255, 255, 255, 0.85);
}
.table td{
    padding: 20px;
}
#sec3{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("../images/utazas.png") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#sec3 h1{
    padding-top: 100px;
}
.mb-4{
    padding-top: 100px;
}
#sec4{
    height: 170vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("../images/galeria.png") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#sec4 h1{
    padding-top: 100px;
}
#sec4_div{
    padding-top: 60px;
}